html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid-tile {
  height: 100%;
  overflow: auto;
  background: #1a1a1a;
  border-radius: 8px;
}

.issues-list {
  width: 480px;
  height: fit-content;
}

.issues-list__items {
  height: 100%;
  overflow: hidden;
}

.widget {
  padding: 16px;
  border: 2px solid #333333;
  border-radius: 16px;
  height: calc(100% - 32px);
}